<style type="text/css">
	.header{
		text-align: center;
	}
</style>
<div class="row">
	<div class="col-sm-12">
		<h1 class="header">About</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-6 textDiv">
		<p>Cras ut egestas justo, id faucibus ante. Aenean eleifend sapien ut convallis facilisis. Mauris malesuada augue lacus. In in consectetur nulla. In id placerat mauris. Pellentesque eget leo malesuada sem tempor consequat. Nullam quis enim ullamcorper, consectetur velit eget, lacinia purus. Nam cursus mattis nibh eu vulputate. Nam congue vitae dui vitae blandit. Quisque quis placerat sapien. Ut sodales massa quis nisl consequat, id tincidunt ex placerat. In facilisis tempor tempor. Ut dolor neque, scelerisque et rhoncus id, consectetur ac odio. Quisque tristique vestibulum arcu eget commodo. In hac habitasse platea dictumst.</p>

		<p>Integer sodales quam id risus sodales auctor. Curabitur scelerisque accumsan malesuada. Donec convallis orci odio, nec hendrerit nibh commodo in. Vivamus tincidunt metus eget urna scelerisque, et mattis tortor bibendum. Vestibulum porttitor lacinia orci, ac pharetra metus ullamcorper dignissim. Cras vel molestie justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris volutpat lorem at eleifend vehicula. Nunc scelerisque sit amet nunc sodales pharetra. Fusce nec felis neque. Morbi at justo feugiat, tincidunt mi in, viverra leo. Ut a libero velit.</p>

		<p>Pellentesque quis tempus mauris. Donec non dui sapien. Suspendisse ornare dapibus enim sit amet blandit. Nam erat odio, facilisis vel libero rutrum, porta ultrices tellus. Integer pretium, nisl dignissim semper ultrices, justo sem tincidunt augue, vel volutpat felis felis sit amet ex. Nam vitae semper est. Ut odio eros, sagittis eget sem eu, blandit dapibus arcu. Vivamus vulputate eu turpis nec iaculis. Vivamus eu faucibus lacus, sed consectetur augue.</p>
	</div>
	<div class="col-sm-3">
	</div>
</div>

