<style type="text/css">
	.header{
		text-align: center;
	}
</style>
<h1 class="header">Contact</h1>
<div class="row">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-6 textDiv">
		<p>Nullam et luctus enim, eget ullamcorper arcu. Pellentesque viverra efficitur velit vel volutpat. Proin fermentum augue id feugiat pretium. Donec faucibus finibus sapien at eleifend. Vivamus a turpis sit amet odio imperdiet finibus. Etiam at dui sit amet velit aliquam aliquam et nec urna. Aenean quis lacus nisi. Donec blandit vehicula est mattis sagittis. Vestibulum a neque tellus.</p>
	</div>
	<div class="col-sm-3">
	</div>
</div>