<style type="text/css">
	.header{
		text-align: center;
	}
</style>
<h1 class="header">Resources</h1>
<a href="#"><h3 class="header">Passport</h3></a>
<a href="#"><h3 class="header">Weather</h3></a>
<a href="#"><h3 class="header">State Department</h3></a>