<style type="text/css">
	.header{
		text-align: center;
	}
	.headerTitle{
		display: inline;
	}
	.blog{
		float: right;
	}
	.tiny{
		float: right;
	}
	.blogDiv{
		margin-bottom: 2%;
	}
	.newBlog{
		margin-bottom: 2%;
		padding-right: 30px;
	}
</style>
<% if @user.permod %>
<div class="row">
	<h1 class="header"></h1><span class="tiny newBlog"><a href="/blog/new">New Blog Post</a></span>
</div>
<% end %>
<% @blogs.each do |val| %>
		<div class="col-sm-6 blogDiv">
			<h3 class="headerTitle"><%= val.title %></h3><span class="tiny"><%= val.created_at.strftime("%B #{val.created_at.day.ordinalize}, %Y") %></span>
			<% @paragraphs = val.content.scan(/[\r\n]+/).map(&:first) %>
			<p><%= simple_format(val.content) %></p>
		</div>
<% end %>