<style type="text/css">
	/*
  Player Skin Designer for Video.js
  http://videojs.com

  To customize the player skin edit 
  the CSS below. Click "details" 
  below to add comments or questions.
  This file uses some SCSS. Learn more  
  at http://sass-lang.com/guide)

  This designer can be linked to at:
  http://codepen.io/heff/pen/EarCt/left/?editors=010
*/

// The following are SCSS variables to automate some of the values.
// But don't feel limited by them. Change/replace whatever you want. 

// The color of icons, text, and the big play button border.
// Try changing to #0f0
$primary-foreground-color: orange; // #fff default

// The default color of control backgrounds is mostly black but with a little
// bit of blue so it can still be seen on all-black video frames, which are common.
// Try changing to #900
$primary-background-color: #2B333F;  // #2B333F default

// Try changing to true
$center-big-play-button: false; // true default

.video-js {
  /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
  font-size: 10px;

  /* The main font color changes the ICON COLORS as well as the text */
  color: $primary-foreground-color;
}

/* The "Big Play Button" is the play button that shows before the video plays.
   To center it set the align values to center and middle. The typical location
   of the button is the center, but there is trend towards moving it to a corner
   where it gets out of the way of valuable content in the poster image.*/
.vjs-default-skin .vjs-big-play-button {
  /* The font size is what makes the big play button...big. 
     All width/height values use ems, which are a multiple of the font size.
     If the .video-js font-size is 10px, then 3em equals 30px.*/
  font-size: 3em;

  /* We're using SCSS vars here because the values are used in multiple places.
     Now that font size is set, the following em values will be a multiple of the
     new font size. If the font-size is 3em (30px), then setting any of
     the following values to 3em would equal 30px. 3 * font-size. */
  $big-play-width: 3em; 
  /* 1.5em = 45px default */
  $big-play-height: 1.5em;

  line-height: $big-play-height;
  height: $big-play-height;
  width: $big-play-width;

  /* 0.06666em = 2px default */
  border: 0.06666em solid $primary-foreground-color;
  /* 0.3em = 9px default */
  border-radius: 0.3em;

  @if $center-big-play-button {
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -($big-play-width / 2);
    margin-top: -($big-play-height / 2);   
  } @else {
    /* Align top left. 0.5em = 15px default */
    left: 0.5em;
    top: 0.5em;
  }
}

/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color: $primary-background-color;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: rgba($primary-background-color, 0.7);
}

// Make a slightly lighter version of the main background
// for the slider background.
$slider-bg-color: lighten($primary-background-color, 33%);

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
  background-color: $slider-bg-color;
  background-color: rgba($slider-bg-color, 0.5);
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $primary-foreground-color;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
  /* For IE8 we'll lighten the color */
  background: lighten($slider-bg-color, 25%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($slider-bg-color, 0.5);
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
  /* For IE8 we'll lighten the color */
  background: lighten($slider-bg-color, 50%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($slider-bg-color, 0.75);
}

.topRow{
	margin-top: 2%;
}
.middleRow{
	height: 200px;
	background-color: lightyellow;
	padding: 0% 5%;
}
.middleText{
	padding: 5%;
}
.catHeader{
	display: inline-block;
	margin-right: 5%;
}
.catHeader a{
	text-decoration: none;
	color: black;
}
.catHeader a:hover{
	opacity: .6;
}
.catRow{
	text-align: center;
}
</style>
  <div class="row topRow">
	  <div class="col-md-7">
	  	<div class="embed-responsive embed-responsive-4by3">
			  <video autoplay id="my-video" class="video-js embed-responsive-item" controls preload="auto" width="640" height="264" data-setup="{}">
			    <source src="/videos/placeholder.mp4" type='video/mp4'>
			    <source src="/videos/placeholder.mp4" type='video/webm'>
			    <p class="vjs-no-js">
			      To view this video please enable JavaScript, and consider upgrading to a web browser that
			      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			    </p>
			  </video>
		  </div>
	  </div>
	  <div class="col-md-5">
		  <div class="row middleRow">
		  	<h1>Travel Promotion</h1>
		  </div>
		  <div class="row middleText">
				<p>Quisque quis nisl id metus lobortis dignissim. Fusce eu dui at sem aliquet egestas. Vestibulum lectus dui, tempus sed scelerisque vitae, porttitor eu tellus. Sed hendrerit aliquet leo, non accumsan dui pulvinar ut. Etiam finibus nibh odio, et malesuada enim mattis nec. Vestibulum et lobortis erat. Mauris ultricies lacus id tincidunt ullamcorper. Aliquam id ultricies nunc, vitae sagittis ex. Ut urna mauris, varius ut diam in, feugiat aliquet magna. Donec eu odio pulvinar neque porta dictum non ac dui. Donec eleifend porttitor ex, vitae lacinia nunc convallis vel. Maecenas vitae turpis gravida, auctor libero a, pellentesque lorem. Fusce ut sollicitudin eros, id dapibus dolor. Sed vitae lectus in leo cursus interdum et ut lacus. Aenean enim felis, euismod et porta ac, convallis non lectus.</p>
		  </div>
	  </div>
  </div>
  <div class="row catRow">
  	<% @categories.each do |val| %>
  		<a href="/videos/<%= val.id %>"><h3 class="catHeader"><%= val.name %></h3></a>
  	<% end %>
  </div>
<script type="text/javascript">
	$(function(){
  var $refreshButton = $('#refresh');
  var $results = $('#css_result');
  
  function refresh(){
    var css = $('style.cp-pen-styles').text();
    $results.html(css);
  }

  refresh();
  $refreshButton.click(refresh);
  
  // Select all the contents when clicked
  $results.click(function(){
    $(this).select();
  });
});
</script>