<style type="text/css">
	.header{
		text-align: center;
	}
	.btn-danger{
		/*margin-left: 40%;*/
		vertical-align: bottom;
	}
	.nameHeader{
		display: inline-block;
	}
	.destroyForm{
		display: inline-block;
		vertical-align: top;
		float: right;
	}
	.formContDiv{
		width: 60%;
		margin-top: 10%;
		border: 1px solid grey;
	}
	.topicBox{
		text-align: center;
		border: 1px solid grey;
		height: 200px;
		width: 20%;
		margin: 0px 2%;
		padding: 0px;
	}
	.topicHeader{
		margin-top: 35%;
	}
	.topicRow{
		margin-top: 50px;
	}
	@media (max-width: 768px){
	  .topicBox{
	    display: inline-block;
	    width: 45%;
	    margin-top: 10%;
	  }
	  .topicRow{
	  	margin-top: 0px;
	  }
	  .topicHeader{
	  	margin-top: 20%;
	  }
	}
	a{
		color: black;
	}
	a:hover{
		text-decoration: none;
	}
</style>
<h1 class="header">Categories</h1>
<h3 class="header"><a href="/categories/new">Add Category</a></h3>
	<% x = 0 %>
	<div class="row topicRow">
	<% @categories.each do |val| %>
			<a href ="/categories/<%= val.id %>"><div class="col-sm-3 topicBox">
					<form action="/categories/destroy" method="POST" data-remote="true" class="destroyForm">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input type="hidden" name="id" value="<%= val.id %>">
						<button class="btn btn-xs btn-danger" data-confirm="Destroy Category?">X</button>
					</form>
				<h3 class="topicHeader"><%= val.name %></h3>
			</div></a>
			<% if x == 3 %>
				</div>
				<div class="row topicRow">
			<% elsif x == @categories.length - 1 %>
				</div>
				<div class="row topicRow">
			<% end %>
		<% x += 1 %>
	<% end %>