<style type="text/css">
	.header{
		text-align: center;
	}
	.btn-danger{
		margin-left: 40%;
		vertical-align: bottom;
	}
	.nameHeader{
		display: inline-block;
	}
	.destroyForm{
		display: inline-block;
		vertical-align: top;
	}
</style>
<h2 class="header">Categories</h2>
<h4 class="header"><a href="/categories/new">Add Category</a></h4>
<div class="row">
	<% @categories.each do |val| %>
		<div class="col-sm-3">
		<h3 class="nameHeader"><a href="/categories/destroy/<%= val.id %>"><%= val.name %></a></h3>
				<form action="/categories/destroy" method="POST" data-remote="true" class="destroyForm">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type="hidden" name="id" value="<%= val.id %>">
					<button class="btn btn-xs btn-danger" data-confirm="Destroy Category?">X</button>
				</form>
		</div>
	<% end %>
</div>