<style type="text/css">
	.header{
		text-align: center;
	}
	.formButtons{
		text-align: center;
	}
	.formCol{
		text-align: center;
	}
</style>
<div class="row">
	<h3 class="header">Add Category</h3>
	<div class="col-md-12 formCol">
		<form class="form-horizontal" action="/category/create" method="POST">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<div class="form-group">
			    <label for="email" class="col-sm-3 control-label">
			        Name:</label>
			    <div class="col-sm-6">
			        <input type="text" name="category[name]" class="form-control" id="name" />
			    </div>
			</div>
			<div class="row">
			    <div class="col-sm-3">
			    </div>
			    <div class="col-sm-6 formButtons">
			        <button type="submit" class="btn btn-primary btn-sm">
			            Create</button>
			    </div>
			</div>
		</form>
	</div>
</div>