<style type="text/css">
	.header{
		text-align: center;
	}
	.formButtons{
		text-align: center;
	}
	.formCol{
		text-align: center;
	}
	.imgDiv{
		display: inline-block;
		height: 98px;
		width: 190px;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	.videoText{
		color: white;
	    text-align: center;
	    margin-top: 20%;
	}
	.box{
		display: inline-block;
		height: 98px;
		width: 190px;
	    border: 1px solid grey;
	}
	.boxtext{
		text-align: center;
	    margin-top: 20%;
	}
	.boxtext{
		color: black
	}
	.right{
		height: 392px;
		border: 1px solid grey;
	}
	.topRow{
		margin-top: 2%;
	}
</style>
<div class="row">
	<h2 class="header"><%= @category.name %></h2>
</div>
<% if @video %>
<div class="row topRow">
	<div class="col-sm-6">
		<% @thumb_path = "/public/videos/thumb_" %>
		<% @thumb_path += @video.vfile.url[15..-5] %>
		<% @thumb_path += ".png" %>
		<a href="/videos/<%= @category.id %>"><div class="imgDiv" style="background-image: url('<%= @thumb_path %>')">
			<h3 class="videoText">Videos</h3>
		</div></a>
		<a href="#"><div class="box">
			<h3 class="boxtext">Specials</h3>
		</div></a>
		<a href="#"><div class="box">
			<h3 class="boxtext">Specials</h3>
		</div></a>
	</div>
	<div class="col-sm-6 right">
	</div>
</div>
<% else %>
<% end %>