<style type="text/css">
	.header{
		text-align: center;
	}
	.formButtons{
		text-align: center;
	}
	.formCol{
		text-align: center;
	}
	.imgDiv{
		display: inline-block;
		height: 98px;
		width: 190px;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	.videoText{
		color: white;
	    text-align: center;
	    margin-top: 20%;
	}
	.box{
		display: inline-block;
		height: 98px;
		width: 190px;
	    border: 1px solid grey;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	.boxtext{
		text-align: center;
	    margin-top: 20%;
	}
	.boxtext{
		color: black
	}
	.right{
		height: 392px;
		border: 1px solid grey;
	}
	.topRow{
		margin-top: 2%;
	}
	.left{
		text-align: center;
	}
	.mediumBox{
		display: inline-block;
/*		height: 98px;
		width: 190px;*/
	    /*border: 1px solid grey;*/
		margin-right: 2%;
		margin-bottom: 2%;
	}
</style>
<div class="row">
	<h2 class="header"><%= @category.name %></h2>
</div>
<% if @video %>
<div class="row topRow">
	<div class="col-sm-7 left">
		<div class="row">
			<% @thumb_path = "/public/videos/thumb_" %>
			<% @thumb_path += @video.vfile.url[15..-5] %>
			<% @thumb_path += ".png" %>
			<a href="/videos/<%= @category.id %>"><div class="imgDiv" style="background-image: url('<%= @thumb_path %>')">
				<h3 class="videoText">Videos</h3>
			</div></a>
			<a href="#"><div class="box">
				<h3 class="boxtext">Specials</h3>
			</div></a>
			<a href="#"><div class="box">
				<h3 class="boxtext">Featured</h3>
			</div></a>
		</div>
		<div class="row">
			<div class="mediumBox">
				<p>Donec vulputate porttitor ex a condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ac purus eget lacus posuere hendrerit eu ut tortor. Proin vel nibh quis arcu tempor viverra at vel eros. Nunc eget rutrum arcu. Ut ut augue non velit viverra finibus. Pellentesque facilisis, nisl quis iaculis tincidunt, massa metus feugiat turpis, ac maximus justo lorem sed tortor. Vestibulum in ante vel odio euismod pulvinar. Nunc accumsan quis dui quis maximus. Vestibulum sollicitudin cursus lacus non ultrices. Donec vehicula ligula diam, vitae lobortis justo luctus eget.</p>
			</div>
		</div>
	</div>
	<div class="col-sm-5 right">
	</div>
</div>
<% else %>
<% end %>