<style type="text/css">
	.header{
		text-align: center;
	}
	.formButtons{
		text-align: center;
	}
	.formCol{
		text-align: center;
	}
</style>
<div class="row">
	<h2 class="header"><%= @category.name %></h2>
</div>