<style type="text/css">
	.header{
		text-align: center;
	}
	.formButtons{
		text-align: center;
	}
	.formCol{
		text-align: center;
	}
	.imgDiv{
		display: inline-block;
		height: 98px;
		width: 190px;
		margin-right: 2%;
		margin-bottom: 2%;
	}
</style>
<div class="row">
	<h2 class="header"><%= @category.name %></h2>
</div>
	<% @thumb_path = "/public/videos/thumb_" %>
	<% @thumb_path += @video.vfile.url[15..-5] %>
	<% @thumb_path += ".png" %>
	<div class="imgDiv" style="background-image: url('<%= @thumb_path %>')">
		<h5 class="videoText">Videos</h5>
	</div>